<div class="content">
    <section class="js">
        <h2>JavaScript</h2>
        <div class="articles">
            {{#if articles.js}}
                {{#each articles.js}}
                    {{#with this}}
                        <article>
                            <h3>{{title}}</h3>
                            <p>{{content}}</p>
                            <a href="#/articles/details/{{id}}" class="btn details-btn">Details</a>
                        </article>
                    {{/with}}
                {{/each}}
            {{else}}
                {{> noArticles}}
            {{/if}}
        </div>
    </section>
    <section class="CSharp">
        <h2>C#</h2>
        <div class="articles">
            {{#if articles.csharp}}
                {{#each articles.csharp}}
                    {{#with this}}
                        <article>
                            <h3>{{title}}</h3>
                            <p>{{content}}</p>
                            <a href="#/articles/details/{{id}}" class="btn details-btn">Details</a>
                        </article>
                    {{/with}}
                {{/each}}
            {{else}}
                {{> noArticles}}
            {{/if}}
        </div>
    </section>
    <section class="Java">
        <h2>Java</h2>
        <div class="articles">
            {{#if articles.java}}
                {{#each articles.java}}
                    {{#with this}}
                        <article>
                            <h3>{{title}}</h3>
                            <p>{{content}}</p>
                            <a href="#/articles/details/{{id}}" class="btn details-btn">Details</a>
                        </article>
                    {{/with}}
                {{/each}}
            {{else}}
                {{> noArticles}}
            {{/if}}
        </div>
    </section>
    <section class="Pyton">
        <h2>Pyton</h2>
        <div class="articles">
            {{#if articles.pyton}}
                {{#each articles.pyton}}
                    {{#with this}}
                        <article>
                            <h3>{{title}}</h3>
                            <p>{{content}}</p>
                            <a href="#/articles/details/{{id}}" class="btn details-btn">Details</a>
                        </article>
                    {{/with}}
                {{/each}}
            {{else}}
                {{> noArticles}}
            {{/if}}
        </div>
    </section>
</div>