@model MyRecipes.Web.ViewModels.PagingViewModel
@{
    this.ViewData["Title"] = $"All recipes, page {Model.PageNumber}";
}

<h1>@this.ViewData["Title"]</h1>
<hr />

<div class="container">
    <div class="row">
        @foreach (var recipe in this.Model.Recipes)
        {
            <div class="card col-md-3">
                <img class="card-img-top" src="@recipe.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        @recipe.Name
                    </h5>
                    <p class="card-text">
                        @recipe.CategoryName
                    </p>
                </div>
            </div>
        }
    </div>
</div>
<hr />

<partial name="_PagingPartial" model="@Model" />
